{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@jquery_js'
        '@jquery_ui_js'
        'assets/js/jquery.form-validator.min.js'
    %}<script src="{{ asset_url }}"></script>
    <script>
        $(document).ready(function() {
            $.validate({
                lang: 'en'
            });

            $('#experience_slider').insertAfter($('#experience_label'));
            $("#user_experience").hide();

            $( "#experience_slider" ).slider({
                range: "max",
                min: 0,
                max: 99,
                value: 0,
                slide: function( event, ui ) {
                    $( "#user_experience").val( ui.value );
                    var labelText = $('#experience_label').text();
                    var splitText = labelText.split(':');
                    $('#experience_label').text(splitText[0] + ':' + ui.value);
                }
            });
        });
    </script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        '@jquery_ui_css'
    %}<link rel="stylesheet" href="{{ asset_url }}" >
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {% if errors|length %}
        <h3>{{ 'Errors'|trans() }}</h3>
        <ul>
            {% for error in errors %}
                <li>{{ error|trans() }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div id="experience_slider"></div>
    {{ form_end(form) }}
{% endblock %}
